*{
    margin: 0;
    padding: 0;
}
main h2{
    text-align: center;
    padding: 89px 0;
    background-color: var(--color-green);
}
main section{
    padding: 56px 72px;
}
.category__section p{
    width: 765px;
}
.category__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.category__item{
    position: relative;
}
.category__item span{
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: var(--color-heading);
    color: var(--color-white);
    padding: 8px 16px;
    border-radius: 8px;
}
@media (max-width: 1439px) {
    .category__list{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
@media (max-width: 1000px) {
    
    .category__list{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .category__section p{
        width: auto;
        padding-bottom: 32px;
    }
}
@media (max-width: 768px) {
    main section{
        padding: 32px 16px;
    }
    .category__item img{
        width: 328px;
        height: 246px;
    }
}