:root {
    --color-text: #2C2C2C;
    --color-white: #FFFFFF;
    --color-heading: #202020;
    --color-blue: #B1DDE4;
    --color-light-grey: #F9F9F9;
    --color-blue-dark: #596F72;
    --color-grey: #E9E9E9;
    --color-grey-dark: #636363;
    --color-green: #E5F8BC;
}