header{
    padding: 8px 56px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .burger{
    position: absolute;
    top: 16px;
    left: 16px;
    display: none;
    flex-direction: column;
    gap: 6px;
    padding: 6px 3px;
}
header .burger__line{
    width: 18px;
    height: 1px;
    background-color: var(--color-heading);
}
header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    padding: 11px 9px;
}
header nav ul{
    display: flex;
    gap: 8px;
    list-style-type: none;
}
header nav ul li, .categories a{
    padding: 13px 24px;
}
header nav ul li a{
    font-size: 18px;
    line-height: 28.2px;
    font-family: 'Hind', sans-serif;
    color: var(--color-heading);  
    text-decoration: none;
}
@media (max-width: 630px) {
    header{
        justify-content: center;
    }
    header .burger{
        display: flex;
    }
    header nav{
        display: none;
    }
    header .logo{
        padding: 0;
    }
    header .logo img{
        height: 42px;
    }
    header .logo span{
        display: none;
    }
}